<div class="hbox lter" ng-init="
  app.settings.asideFolded = true; 
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = true;
  ">
    <h1 class="text-light">Off-Site Catering</h1>

    <form ng-submit="open('lg')">
        <div class="row text-md" ng-controller="FormDemoCtrl2">
            <div class="col-sm-8 col-xs-12">
                <div class="" ng-repeat="item in products track by $index">
                    <div class="col-xs-12 m-b m-t" ng-if="!item.price">
                        <h1 class="text-center text-danger dk">{{item.item}}</h1>
                    </div>
                    <div tooltip-placement="right" tooltip="{{item.tooltip}}" class="col-xs-12 b-b b-dark m-t-xs" style="line-height:16px" ng-if="item.price">
                        <div class="list-group">
                            <div class="col-xs-7">
                                <span>{{item.item}}</span>
                            </div>

                            <div class="col-xs-2 no-padder">
                                <button class="btn btn-success dker m-b-xs btn-addon wrapper-xs">
                                    <i class="fa fa-usd "></i> {{item.price | number:2}}
                                </button>
                            </div>
                            <div class="w-xsm pull-right " tooltip-placement="right" tooltip="{{item.tooltip}}">
                                <input ui-jq="TouchSpin " type="text " class="form-control w-xs " ng-change=change($index) data-min='0' data-max="50 " data-step="1 " ng-model="item.quantity " required>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 ">
                <div class="panel no-bg m-r-xs m-l-xs">
                    <!--                        <label class="control-label h4">Address</label>-->
                    <!--                    </div>-->
                    <div class="panel-body no-padder">
                        <div class="col-sm-12 m-t-sm">
                            <div class="panel-heading font-bold ">
                                <label>Address</label>
                                <div class="form-group ">
                                    <div class="input-group ">

                                        <span class="input-group-addon "><i class="fa fa-map-marker "></i></span>
                                        <input ng-blur="getDestination(details.formatted_address) " type="text " id="Autocomplete2 " ng-model="autocomplete " class="form-control col-lg-5" ng-autocomplete options="options " details="details " required>
                                    </div>
                                    <div class="col-xs-2 col-sm-4 ">
                                    </div>
                                    <div class="col-xs-10 col-sm-8">
                                        <a><strong>Distance: </strong> {{distances}}</a>
                                    </div>

                                </div>
                            </div>



                        </div>



                        <div class="col-xs-11 text-right">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="w-xs">Subtotal</label>
                                </div>
                                <div class="col-xs-6 m-b-md">
                                    <button class="w-xsm btn btn-md btn-info dker btn-addon"><i class="fa fa-usd"></i>{{subtotal | number:2}}</button>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 ">
                                    <label class="w-xs">Taxes</label>
                                </div>
                                <div class="col-xs-6 m-b-md">
                                    <button class="w-xsm btn btn-md btn-info dk btn-addon"><i class="fa fa-usd"></i>{{tax | number:2}}</button>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="w-xs">Delivery</label>
                                </div>
                                <div class="col-xs-6 m-b-md">
                                    <button class="w-xsm btn btn-md btn-info btn-addon"><i class="fa fa-usd"></i>{{delivery | number:2}}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 ">
                                    <label class="w-xs"><strong>Total</strong></label>
                                </div>
                                <div class="col-xs-6  m-b-md">
                                    <button class="w-xsm btn btn-md btn-info btn-addon"><i class="fa fa-usd"></i>{{total | number:2}}</button>
                                </div>
                            </div>
                            <div class="form-group">


                                <script type="text/ng-template" id="myModalContent.html">
                                    <div ng-include="'tpl/modal.form.html'"></div>
                                </script>
                                <!--                                <div class="col-xs-12">-->
                                <button class="btn btn-md btn-block btn-success dker" ng-click="open('lg')" tabindex="0">Submit Quote</button>
                                <!--                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
