<div class="modal-body wrapper-lg" data-ng-controller="FormDemoCtrl">
    <div class="row">
        <div class="col-sm-12 b-r">
            <h3 class="m-t-none m-b font-thin text-dark">Quote Request</h3>
            <p>Enter the contact information you'd like us to reach you at.</p>
            <form role="form" ng-submit="submit()">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Enter first name" ng-model="customer.fname">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="enter last name" ng-model="customer.lname">
                    </div>
                </div>




                <div class="col-md-12">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="Enter Phone" ng-model="customer.phone">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" ng-model="customer.email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Event Type</label>
                        <input type="text" class="form-control" placeholder="Event Type" ng-model="event.type">
                    </div>
                    <div class="form-group">
                        <label>Number of Attendees</label>
                        <input type="email" class="form-control" placeholder="Expected Number of Attendees" ng-model="event.number">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success  text-uc m-t-n-xs"><strong>Submit</strong></button>

                </div>
            </form>
        </div>

    </div>

</div>
